<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orange.book.bookArticle.dao.BookArticleMapper">
    <resultMap id="BaseResultMap"
               type="com.orange.book.bookArticle.bean.BookArticleBean">
        <result column="seq_no" property="seqNo" jdbcType="INTEGER"/>
        <result column="book_id" property="bookId" jdbcType="VARCHAR"/>
        <result column="book_type" property="bookType" jdbcType="VARCHAR"/>
        <result column="book_url" property="bookUrl" jdbcType="VARCHAR"/>
        <result column="book_name" property="bookName" jdbcType="VARCHAR"/>
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR"/>
        <result column="article_introduction" property="articleIntroduction" jdbcType="VARCHAR"/>
        <result column="mail_flag" property="mailFlag" jdbcType="VARCHAR"/>
        <result column="spider_flag" property="spiderFlag" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="VARCHAR"/>
        <result column="update_flag" property="updateFlag" jdbcType="VARCHAR"/>
        <result column="bak" property="bak" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ChapterBaseResultMap"
               type="com.orange.book.bookArticle.bean.BookArticleChapterBean">
        <result column="article_seq_no" property="articleSeqNo" jdbcType="INTEGER"/>
        <result column="book_id" property="bookId" jdbcType="VARCHAR"/>
        <result column="chapter" property="chapter" jdbcType="VARCHAR"/>
        <result column="book_content_url" property="bookContentUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getBeanById" resultMap="BaseResultMap">
		select * from book_article
		where 1 = 1
		and book_id =#{book_id}
	</select>

    <select id="getBeanList" parameterType="com.orange.book.bookArticle.bean.BookArticleBean" resultMap="BaseResultMap">
		select * from book_article
		where 1 = 1
        <if test="bookId != null and bookId != ''">
            and book_id = #{bookId,jdbcType=VARCHAR}
        </if>
        <if test="bookName != null and bookName != ''">
            and book_name = #{bookName,jdbcType=VARCHAR}
        </if>

        <if test="seqNo != null and seqNo != ''">
            and seq_no = #{seqNo}
        </if>
	</select>
    <select id="getBeanByUrl" resultMap="BaseResultMap">
		select * from book_article
		where 1 = 1
		and book_url=#{url}
	</select>
    <update id="update" parameterType="com.orange.book.bookArticle.bean.BookArticleBean">
        update book_article
        <set>
            <if test="bookId != null and bookId != ''">
                book_id = #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="bookType != null and bookType != ''">
                book_type = #{bookType,jdbcType=VARCHAR},
            </if>
            <if test="bookUrl != null and bookUrl != ''">
                book_url = #{bookUrl,jdbcType=VARCHAR},
            </if>
            <if test="bookName != null and bookName != ''">
                book_name = #{bookName,jdbcType=VARCHAR},
            </if>
            <if test="bookAuthor != null and bookAuthor != ''">
                book_author = #{bookAuthor,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and createDate != ''">
                create_date = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null and updateDate != ''">
                update_date = #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="updateFlag != null and updateFlag != ''">
                update_flag = #{updateFlag,jdbcType=VARCHAR},
            </if>
        </set>
        <where> 1=1
            <if test="bookId != null and bookId != ''">
                and book_id = #{bookId,jdbcType=VARCHAR}
            </if>
            <if test="seqNo != null and seqNo != ''">
                and seq_no = #{seqNo}
            </if>
        </where>
    </update>

    <insert id="insert" parameterType="com.orange.book.bookArticle.bean.BookArticleBean">
		insert into book_article
		(book_id, book_type, book_url,
		book_name, book_author,
		article_introduction, mail_flag, spider_flag,create_date,update_date,update_flag,bak
		)
		values (#{bookId,jdbcType=VARCHAR},
		#{bookType,jdbcType=VARCHAR},
		#{bookUrl,jdbcType=VARCHAR},
		#{bookName,jdbcType=VARCHAR}, #{bookAuthor,jdbcType=VARCHAR},
		#{articleIntroduction,jdbcType=VARCHAR}, '1', '1',
		#{createDate,jdbcType=VARCHAR},
		#{updateDate,jdbcType=VARCHAR},
		#{updateFlag,jdbcType=VARCHAR},
		#{bak,jdbcType=VARCHAR}
		)
	</insert>
    <insert id="insertSelective" parameterType="com.orange.book.bookArticle.bean.BookArticleBean">
        insert into book_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                book_id,
            </if>
            <if test="bookType != null">
                book_type,
            </if>
            <if test="bookUrl != null">
                book_url,
            </if>
            <if test="bookName != null">
                book_name,
            </if>
            <if test="bookAuthor != null">
                book_author,
            </if>
            <if test="articleIntroduction != null">
                article_introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="bookType != null">
                #{bookType,jdbcType=VARCHAR},
            </if>
            <if test="bookUrl != null">
                #{bookUrl,jdbcType=VARCHAR},
            </if>
            <if test="bookName != null">
                #{bookName,jdbcType=VARCHAR},
            </if>
            <if test="bookAuthor != null">
                #{bookAuthor,jdbcType=VARCHAR},
            </if>
            <if test="articleIntroduction != null">
                #{articleIntroduction,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertChapter" parameterType="com.orange.book.bookArticle.bean.BookArticleChapterBean">
        insert into book_article_chapter
        (
        article_seq_no,
        book_id,
        chapter,
        book_content_url
        )
        values

            (
            #{articleSeqNo,jdbcType=VARCHAR},
            #{bookId,jdbcType=VARCHAR},
            #{chapter,jdbcType=VARCHAR},
            #{bookContentUrl,jdbcType=VARCHAR}
            )

    </insert>

    <insert id="insertChapterList" parameterType="List">
        insert into book_article_chapter
        (
        article_seq_no,
        book_id,
        chapter,
        book_content_url
        )
        values
        <foreach collection="list" item="e" open="" separator="," close="">
            (
            #{e.articleSeqNo,jdbcType=VARCHAR},
            #{e.bookId,jdbcType=VARCHAR},
            #{e.chapter,jdbcType=VARCHAR},
            #{e.bookContentUrl,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <select id="getArticleList" parameterType="com.orange.book.bookArticle.bean.BookArticleChapterBean"
            resultMap="ChapterBaseResultMap">
        select * from book_article_chapter
        <where>1=1
            <if test="articleSeqNo !=null and articleSeqNo != ''">
                and article_seq_no =#{articleSeqNo}
            </if>
            <if test="bookId !=null and bookId != ''">
                and book_id =#{bookId}
            </if>
            <if test="chapter !=null and chapter != ''">
                and chapter =#{chapter}
            </if>
            <if test="bookContentUrl !=null and bookContentUrl != ''">
                and book_content_url =#{bookContentUrl}
            </if>
        </where>

    </select>
</mapper>