<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orange.book.bookAccessHistory.dao.BookAccessHistoryMapper">
	<resultMap id="BaseResultMap"
			   type="com.orange.book.bookAccessHistory.bean.BookAccessHistoryBean">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="browse_url" property="browseUrl" jdbcType="VARCHAR" />
		<result column="browse_date" property="browseDate" jdbcType="VARCHAR" />

	</resultMap>
	<select id="getBeanById" resultMap="BaseResultMap">
		select * from book_access_history
		where 1 = 1
		and id =#{id}
	</select>

	<select id="getBeanList" resultMap="BaseResultMap">
		select * from book_access_history
		where 1 = 1
	</select>



	<insert id="insert" parameterType="com.orange.book.bookAccessHistory.bean.BookAccessHistoryBean">
		insert into book_access_history
		(id, browse_url, browse_date
		)
		values (
		#{browseUrl,jdbcType=VARCHAR},
		#{browseDate,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.orange.book.bookAccessHistory.bean.BookAccessHistoryBean">
		insert into book_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="browseUrl != null">
				browse_url,
			</if>
			<if test="browseDate != null">
				browse_date,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="browseUrl != null">
				#{browse_url,jdbcType=VARCHAR},
			</if>
			<if test="browseDate != null">
				#{browse_date,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>
</mapper>